section
  section
    h2.title Estratégias de cache

  section(data-background="img/cache-strategy.gif")

  section
    h3.title Cache-Aside (Lazy Loading)
    div(style="background:#FFF; display:inline-block;")
      img(src="img/cache-aside.png" style="margin: 0; border:0; box-shadow: none")

  section
    h3.title Write-Through Cache
    div(style="background:#FFF; display:inline-block;")
      img(src="img/write-through.png" style="margin: 0; border:0; box-shadow: none")


  section
    h3.title Write-Around
    div(style="background:#FFF; display:inline-block;")
      img(src="img/write-around.png" style="margin: 0; border:0; box-shadow: none")

  section
    h3.title Write-Back
    div(style="background:#FFF; display:inline-block;")
      img(src="img/write-back.png" style="margin: 0; border:0; box-shadow: none")
