section
  section
    h2.title Redis

  section
    h3.title Definição
    blockquote.fragment.
      É uma ferramenta open source que faz armazenamento de estruturas de dados em memória, e pode ser utilizado como banco de dados, cache e message broker

  section
    h3.title Características
    ul
      li Chave-valor
      li Transações
      li Pub / Sub
      li Execução de scripts em Lua
      li TTL
      li Remove chaves antigas para entrada de novas
      li Failover (Cluster)

  section
    h3.title Tipos de estruturas
    ul.fragment
      li Strings
      li Hashes
      li Lists
      li Sets
      li Bitmaps
      li Hyperloglogs
      li Índices geoespaciais
      li Streams

  section
    h3.title Porque é tão rãpido?
    p.fragment.
      Trabalha com os dados na memória, não persiste os mesmos em disco
    small.fragment.
      Dependendo do caso de uso, esses dados também podem ser persistidos

  section
    h3.title Exemplo
    pre
      code.bash.
        $ redis-cli
        $ set hello world
        OK
        $ get hello
        "world"
        $ del hello
        (integer) 1
        $ get hello
        (nil)

