section
  h2.title Referências
  p.small <i>https://hackernoon.com/a-cache-is-fast-enhancing-our-api-with-redis-bd61d13c3ca8</i>
  p.small <i>https://redislabs.com/ebook/part-1-getting-started/chapter-2-anatomy-of-a-redis-web-application/2-4-database-row-caching/</i>
  p.small <i>https://www.compose.com/articles/api-caching-with-redis-and-nodejs/</i>
  p.small <i>https://d0.awsstatic.com/whitepapers/Database/database-caching-strategies-using-redis.pdf</i>
  p.small <i>https://codeahoy.com/2017/08/11/caching-strategies-and-how-to-choose-the-right-one/</i>
