section
  h3 Cache Strategies with
  h3 Node.js + Redis
  h5
    a(href="https://www.linkedin.com/in/icarocaldeira/") Icaro Caldeira Carreira
    |  /
    a(href="https://github.com/icarcal")  @icarcal
