section
  section
    h2.title Cache

  section
    h3.title Definição
    blockquote.fragment.
      Área de memória onde é mantida uma cópia temporária de dados armazenados em um meio de acesso mais lento, com o objetivo de acelerar a recuperação dos dados.

  section(data-background="img/cache-cleaning.gif")

  section
    h3.title Existem tipos de cache
    br
    ul.fragment
      li CDN (arquivos estáticos)
      li Aplicação (respostas, sessão, queries)
      li Local storage

  section
    h3 O que utilizar no backend
    ul.fragment
      li <a href="https://memcached.org/" target="_blank">Memcached</a>
      li <a href="https://redis.io/" target="_blank">Redis</a>
