doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1-title
        include ../slides/slide-2-about-me
        include ../slides/slide-3-tools
        include ../slides/slide-4-cache
        include ../slides/slide-5-redis
        include ../slides/slide-6-strategies
        include ../slides/slide-7-demo
        include ../slides/slide-8-use-case
        include ../slides/slide-references
        include ../slides/slide-questions
        include ../slides/slide-socials
        include ../slides/slide-thanks
    include inc/scripts
